// animation properties
$itemGrow: 1.2;
$duration: 250ms;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #000;
}

h1 {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff ;
    text-align: center;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    margin-top: 3em;

    section {
        width: 90%;
        position: relative;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(5, 260px);
        grid-template-rows: 260px;
        grid-gap: 10px;
        margin: 10px 10px 10px 10px;
        
        &:nth-of-type(1) {
            margin: 20px 10px 10px 10px;
        }

        .item {
            padding: 15px 5px 15px;
            transition: $duration;

            &:hover {
                margin: 0 25px;
                transform: scale($itemGrow) rotate(5deg);
                cursor: pointer;
                z-index: 2;

            }
        }

        a {
            position: absolute;
            color: #fff;
            text-decoration: none;
            font-size: 3em;
            // background: rgb(0,0,0);
            width: 70px;
            padding: 250px 15px;
            // text-align: center;
            z-index: 1;

            &:nth-of-type(1) {
                top:0;
                bottom: 0;
                left: 0;
                
                background: linear-gradient(-90deg, rgba(0,0,0, 0) 26%, rgba(0,0,0,1) 100%);
            }

            &:nth-of-type(2) {
                top:0;
                bottom: 0;
                right: -116px;
                background: linear-gradient(90deg, rgba(0,0,0, 0) 26%, rgba(0,0,0,1) 100%);
            }
        }
    
        // &:nth-child(1) {
        //     background: #70d6ff;
        // }
        
        // &:nth-child(2) {
        //     background: #ff70a6;
        // }
        
        // &:nth-child(3) {
        //     background: #ff9770;
        // }
    }
}
